.arrow {
  transition: transform 150ms ease-in-out;
}

.change-block {
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 150ms ease-in-out;
}

.language-block:hover .arrow {
  color: #049ca6;
  transform: rotate(180deg);
}

.language-block:hover .language-text {
  color: #049ca6;
}

.language-block:hover .change-block {
  transform: scaleY(1);
}
